@import url("https://fonts.googleapis.com/css2?family=Lemon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #050609;
  font-family: "Lemon", serif;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 0.75rem;
}

.index-encabezado {
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-encabezado .encabezado-contenedor {
  width: 100%;
  height: auto;
  padding: 0 5%;
  background-color: #050609;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.index-encabezado .encabezado-contenedor .boton-oculto {
  display: none;
}
.index-encabezado .encabezado-contenedor .marca {
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-encabezado .encabezado-contenedor .marca .titulo {
  font-family: "Lemon", serif;
  color: gold;
  text-decoration: none;
}
.index-encabezado .encabezado-contenedor .marca .subtitulo {
  color: white;
}
.index-encabezado .encabezado-contenedor .marca img {
  width: 80px;
  height: 80px;
}
.index-encabezado .encabezado-contenedor h1 {
  padding-top: 15px;
}
.index-encabezado .encabezado-contenedor h1 > a {
  font-size: 2.5rem;
}
.index-encabezado .encabezado-contenedor h1 > a P .subtitulo {
  font-size: 1.5rem;
  color: red;
}
.index-encabezado .encabezado-contenedor a {
  color: white;
  font-size: 1.25rem;
}
.index-encabezado .encabezado-contenedor a:hover {
  color: gold;
  text-decoration: underline;
}
.index-encabezado .encabezado-contenedor .menu {
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
}
.index-encabezado .encabezado-contenedor .menu .menu-lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 60px;
}
.index-encabezado .encabezado-contenedor .menu .menu-lista a {
  font-style: italic;
}
.index-encabezado .encabezado-contenedor .menu-hamburger {
  display: flex;
  padding-top: 10px;
  justify-content: left;
  align-items: left;
}
.index-encabezado .encabezado-contenedor .menu-hamburger .menu-lista-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 20px;
  gap: 10px;
  color: black;
}
.index-encabezado .encabezado-contenedor .menu-hamburger .menu-lista-hamburger a {
  font-style: italic;
  color: black;
}
.index-encabezado .encabezado-contenedor li {
  list-style-type: none;
}

.pie {
  width: 100vw;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 25px;
  background-color: rgba(29, 27, 27, 0.3647058824);
}
.pie li {
  list-style-type: none;
}
.pie .pie-contenedor {
  width: 80%;
  height: 175px;
  display: grid;
  grid-template-columns: 2fr 3.5fr 2fr;
  grid-template-rows: 30px 1fr;
  grid-template-areas: "tiac tisuc tiredes" "ac suc redes";
  gap: 0 60px;
  padding: 0;
  font-weight: 100;
  font-size: 1rem;
}
.pie .pie-contenedor nav ul {
  padding: 0px;
}
.pie .pie-contenedor nav ul a {
  color: #9b9b90;
}
.pie .pie-contenedor nav ul a:hover {
  color: white;
}
.pie .pie-contenedor .grid-titulo-acceso {
  grid-area: tiac;
  display: flex;
  justify-content: start;
  color: red;
  border-bottom: 1px solid gold;
}
.pie .pie-contenedor .accesos {
  grid-area: ac;
  display: flex;
  align-items: start;
  justify-content: start;
  padding-top: 15px;
}
.pie .pie-contenedor .grid-titulo-sucursales {
  grid-area: tisuc;
  display: flex;
  justify-content: start;
  color: red;
  border-bottom: 1px solid gold;
}
.pie .pie-contenedor .sucursales {
  grid-area: suc;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 15px;
}
.pie .pie-contenedor .grid-titulo-redes {
  grid-area: tiredes;
  display: flex;
  justify-content: left;
  align-items: start;
  color: red;
  border-bottom: 1px solid gold;
}
.pie .pie-contenedor .redes {
  grid-area: redes;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding-top: 15px;
}

body {
  background-color: #050609;
  font-family: "Oswald", sans-serif;
}

.seccion-carrousel {
  width: 100%;
  height: 55vh;
}
.seccion-carrousel .carousel-item img {
  margin: 0;
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 0.9;
}

.index-seccion-uno {
  width: 100%;
  height: auto;
  padding: 25px;
  background-color: #050609;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-seccion-uno .index-seccion-uno-contenedor {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  color: white;
}
.index-seccion-uno .index-seccion-uno-contenedor > div {
  width: 30%;
  height: 200px;
  background-color: rgba(29, 27, 27, 0.8705882353);
  border-radius: 5%;
  padding: 15px 15px;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.index-seccion-uno .index-seccion-uno-contenedor .uno img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: block;
  object-fit: cover;
}
.index-seccion-uno .index-seccion-uno-contenedor .dos img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: block;
  object-fit: cover;
  padding-bottom: 15px;
}
.index-seccion-uno .index-seccion-uno-contenedor .tres img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: block;
  object-fit: cover;
  padding-top: 10px;
}
.index-seccion-uno .index-seccion-uno-contenedor .carde {
  position: relative;
  width: 90%;
  height: 200px;
  background: linear-gradient(45deg, rgba(39, 33, 33, 0.9725490196) 45%, #5fff03 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.index-seccion-uno .index-seccion-uno-contenedor .carde:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.index-seccion-uno .index-seccion-uno-contenedor .carde:hover .carde__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}
.index-seccion-uno .index-seccion-uno-contenedor .carde:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
.index-seccion-uno .index-seccion-uno-contenedor .carde svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.index-seccion-uno .index-seccion-uno-contenedor .carde .carde__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 35px;
  box-sizing: border-box;
  background-color: white;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.index-seccion-uno .index-seccion-uno-contenedor .carde .carde__content .carde__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
.index-seccion-uno .index-seccion-uno-contenedor .carde .carde__content .carde__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.4;
}
.index-seccion-uno .index-seccion-uno-contenedor .carde .carde__content .carde__description a {
  color: red;
  font-weight: 800;
  text-decoration: underline;
  font-size: 1.25rem;
}

.index-seccion-dos {
  background-color: #050609;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 15vw;
}
.index-seccion-dos .index-seccion-dos-contenedor {
  display: flex;
  width: 1300px;
  justify-content: center;
  align-items: center;
  color: white;
}
.index-seccion-dos .index-seccion-dos-contenedor img {
  width: 90%;
  height: auto;
}

.contenedor-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 35px;
}
.contenedor-menu .menu-titulo {
  font-size: 3rem;
  padding: 35px 0;
}
.contenedor-menu .titulo-hamburguesa {
  color: gold;
}
.contenedor-menu .titulo-papas {
  color: red;
}
.contenedor-menu .contenedor-menu-primario {
  width: 1300px;
  max-width: 85%;
  min-width: 325px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contenedor-menu .contenedor-menu-primario .hamburguesa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(155, 155, 144, 0.0666666667);
  padding: 45px;
  gap: 40px;
  border-radius: 25px;
}
.contenedor-menu .contenedor-menu-primario .hamburguesa img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  background-color: rgb(247, 248, 244);
  border-radius: 50%;
}
.contenedor-menu .contenedor-menu-primario .hamburguesa > div > h2 {
  color: red;
}
.contenedor-menu .contenedor-menu-primario .hamburguesa > div > div {
  color: #9b9b90;
}

.seccion-sucursal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 35px;
}
.seccion-sucursal .seccion-sucursal-titulo {
  margin-top: 25px;
  width: 70%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: start;
  color: white;
}
.seccion-sucursal .contenedor-sucursal {
  width: 90%;
  height: auto;
  display: grid;
  padding: 20px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr 1fr 6fr;
  grid-template-areas: "suc suctit" "suc sucdir" "suc sucmap";
  column-gap: 30px;
}
.seccion-sucursal .contenedor-sucursal img {
  width: 100%;
  height: 100%;
  max-width: 950px;
  max-height: 400px;
  display: block;
  object-fit: fill;
}
.seccion-sucursal .contenedor-sucursal .sucursal-uno {
  grid-area: suc;
}
.seccion-sucursal .contenedor-sucursal .sucursal-uno-titulo {
  grid-area: suctit;
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-sucursal .contenedor-sucursal .sucursal-uno-direccion {
  grid-area: sucdir;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion-sucursal .contenedor-sucursal .sucursal-uno-mapa {
  grid-area: sucmap;
  width: 100%;
  height: 100%;
}

.conte {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121212;
  background: linear-gradient(135deg, #121212 25%, #bdb107 25%, #bdb107 50%, #121212 50%, #121212 75%, #bdb107 75%, #bdb107);
  border-radius: 25px;
  background-size: 40px 40px;
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}
.seccion-hamburguesa {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seccion-hamburguesa .contenedor-hamburguesa {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px;
}
.seccion-hamburguesa .contenedor-hamburguesa .titulo-hamburguesa {
  background-color: #050609;
  border-radius: 25px;
  padding: 25px;
}
.seccion-hamburguesa .contenedor-hamburguesa .titulo-hamburguesa:hover {
  background-color: gold;
  color: #050609;
}
.seccion-hamburguesa .contenedor-hamburguesa .titulo-hamburguesa .titulo-vegano {
  font-size: 3rem;
  color: gold;
}
.seccion-hamburguesa .contenedor-hamburguesa .titulo-hamburguesa .titulo-vegano:hover {
  color: #050609;
}
.seccion-hamburguesa .contenedor-hamburguesa .detalle-vegano {
  background-color: #050609;
  border-radius: 25px;
  padding: 25px;
  font-size: 3rem;
  color: gold;
  text-align: center;
}
.seccion-hamburguesa .contenedor-hamburguesa .detalle-vegano:hover {
  color: #050609;
  background-color: gold;
}

.seccion-contacto {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 55px;
}
.seccion-contacto .contacto-contenedor {
  width: 90%;
  height: 550px;
  margin-top: 25px;
  row-gap: 22px;
  column-gap: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "nom ape" "correo tel" "asu asu" "tex tex" "bot bot";
}
.seccion-contacto .contacto-contenedor .campo-nombre {
  grid-area: nom;
}
.seccion-contacto .contacto-contenedor .campo-apellido {
  grid-area: ape;
}
.seccion-contacto .contacto-contenedor .campo-correo {
  grid-area: correo;
}
.seccion-contacto .contacto-contenedor .campo-telefono {
  grid-area: tel;
}
.seccion-contacto .contacto-contenedor .campo-asunto {
  grid-area: asu;
}
.seccion-contacto .contacto-contenedor .campo-texto {
  grid-area: tex;
}
.seccion-contacto .contacto-contenedor .campo-boton {
  grid-area: bot;
}
.seccion-contacto .contacto-contenedor .centrar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.seccion-contacto .contacto-contenedor div > label {
  width: 100%;
}
.seccion-contacto .contacto-contenedor div > input {
  width: 100%;
}
.seccion-contacto .contacto-contenedor div > textarea {
  width: 100%;
}

@media (width <= 1050px) {
  .encabezado-contenedor .menu .menu-lista {
    margin-top: 5px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .encabezado-contenedor .menu .menu-lista a {
    font-size: 1rem;
  }
  .index-seccion-uno .index-seccion-uno-contenedor {
    flex-direction: column;
  }
  .index-seccion-uno .index-seccion-uno-contenedor > div {
    justify-content: space-around;
    align-items: center;
    width: 90%;
    border-radius: 30px;
  }
}
@media (width <= 900px) {
  .index-encabezado .encabezado-contenedor .menu .menu-lista {
    padding: 0;
    flex-wrap: wrap;
    gap: 20px;
  }
  .seccion-carrousel .carousel-item img {
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0.9;
  }
}
@media (max-width: 900px) {
  .menu {
    display: none !important;
  }
  .index-encabezado .marca h1 > a {
    font-size: 1rem;
  }
  .index-encabezado .boton-oculto {
    display: block !important;
    margin-top: 20px;
    width: 100px;
    height: 45px;
    background-color: red;
  }
  .index-encabezado .encabezado-contenedor .offcanvas-body > a {
    color: black;
  }
  .seccion-contacto .contacto-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
    grid-template-areas: "nom" "ape" "correo" "tel" "asu" "tex" "bot";
    height: 650px;
  }
  .seccion-sucursal .contenedor-sucursal {
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
    grid-template-areas: "suctit" "sucdir" "suc" "sucmap";
    row-gap: 10px;
  }
}
@media (width <= 800px) {
  .contenedor-menu-primario .hamburguesa {
    padding: 25px;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
  }
  .index-seccion-dos .index-seccion-dos-contenedor {
    height: 50vh;
  }
  .index-seccion-dos img {
    display: none !important;
  }
  .pie {
    height: auto;
  }
  .pie .pie-contenedor {
    width: 90%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr 30px 1fr 30px 1fr;
    grid-template-areas: "tiac" "ac" "tisuc" "suc" "tiredes" "redes";
  }
  .pie .pie-contenedor .grid-titulo-acceso {
    justify-content: center;
    align-items: center;
  }
  .pie .pie-contenedor .accesos {
    justify-content: center;
    margin-bottom: 25px;
  }
  .pie .pie-contenedor .grid-titulo-sucursales {
    justify-content: center;
  }
  .pie .pie-contenedor .sucursales {
    justify-content: space-around;
    margin-bottom: 25px;
  }
  .pie .pie-contenedor .sucursales nav {
    width: 100%;
  }
  .pie .pie-contenedor .sucursales ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .pie .pie-contenedor .grid-titulo-redes {
    justify-content: center;
  }
  .pie .pie-contenedor .redes {
    justify-content: center;
  }
  .pie .pie-contenedor .redes nav {
    width: 100%;
  }
  .pie .pie-contenedor .redes ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .hamburguesa-detalle > img {
    width: 100%;
  }
  .detalle-vegano {
    display: none !important;
  }
}
@media (width <= 800px) {
  .index-seccion-uno .index-seccion-uno-contenedor .uno {
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    padding: 0 20px;
  }
  .index-seccion-uno .index-seccion-uno-contenedor .dos {
    flex-direction: column;
    height: 250px;
    padding: 25px 25px;
  }
  .index-seccion-uno .index-seccion-uno-contenedor .tres {
    flex-direction: column;
    height: 250px;
    padding: 0 50px;
  }
  .index-seccion-dos {
    height: 25vh;
  }
}

/*# sourceMappingURL=style.css.map */
