@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import "../css/partial/variables";
@import "../css/partial/maps";
@import "../css/partial/generales";
@import "../css/partial/header";
@import "../css/partial/pie";

body {
    background-color: $color-primario;
    font-family: 'Oswald', sans-serif;
  }
  
.seccion-carrousel{
    width: map-get($ancho, ancho);
    height: 55vh;

    .carousel-item{
        img{
            margin:0;
            width: 100vw;
            height: 50vh;
            object-fit: cover;
            object-position: 50% 50%;
            opacity: 0.9;
        }
    } 
}

.index-seccion-uno{
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    align-items: center;

    .index-seccion-uno-contenedor{
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        color: white;

        &>div{
            width: 30%;
            height: 200px;            
            background-color: #1d1b1bde;
            border-radius: 5%;
            padding: 15px 15px;
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .uno{
            img{
                width: 150px;
                height: 150px;               
                object-fit: contain;
                object-position: block;
                object-fit: cover;
            }
        }

        .dos{
            img{
                width: 150px;
                height: 150px;               
                object-fit: contain;
                object-position: block;
                object-fit: cover;
                padding-bottom: 15px;
        }}

        .tres{
            img{
                width: 200px;
                height: 200px;               
                object-fit: contain;
                object-position: block;
                object-fit: cover;
                padding-top: 10px;
            }
        }

        .carde {
            position: relative;
            width: 90%;
            height: 200px;
            background: linear-gradient(45deg, #272121f8 45%,  #efff0b 100% );
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
          
            &:hover {
                transform: rotate(-5deg) scale(1.1);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

                .carde__content {
                    transform: translate(-50%, -50%) rotate(0deg);
                    opacity: 1;
                  }

                svg {
                scale: 0;
                transform: rotate(-45deg);
                }

              }

          svg {
            width: 48px;
            fill: #333;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
          }

          .carde__content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(-45deg);
            width: 100%;
            height: 100%;
            padding: 35px;
            box-sizing: border-box;
            background-color: white;
            opacity: 0;
            transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);

            .carde__title {
                margin: 0;
                font-size: 24px;
                color: #333;
                font-weight: 700;
              }
              
              .carde__description {
                margin: 10px 0 0;
                font-size: 18px;
                color: #777;
                line-height: 1.4;

                a{
                    color: red;
                    font-weight: 800;
                    text-decoration: underline;
                    font-size: 1.25rem;
                }
              }
          }
        }          
    }
}

.index-seccion-dos{
    background-color: $color-primario;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 15vw;    

    .index-seccion-dos-contenedor{
        display:flex;
        width: 1300px;
        justify-content: center;
        align-items: center;
        color: white;
        
        img{
            width: 90%;
            height: auto;
        }        
    }
}

// PAGINA PRODUCTOS
.contenedor-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 35px;

    .menu-titulo{
        font-size: 3rem;
        padding: 35px 0;
     }

    .titulo-hamburguesa{
        color: $color-terciario;
    }

    .titulo-papas{
        color: $color-secundario;
    }
    
    .contenedor-menu-primario{
        width: 1300px;
        max-width: 85%;
        min-width: 325px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;        

        .hamburguesa{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #9b9b9011;
            padding: 45px;
            gap: 40px;
            border-radius: 25px;

            img{
                width: 150px;
                height: 150px;
                object-fit: contain;
                background-color: rgb(247, 248, 244);
                border-radius: 50%;
            }

            &>div>h2{
                color: red;
            }
            &>div>div{
                color: #9b9b90;
            }
            
        }
    }  
}

// PAGINA SUCURSAL
.seccion-sucursal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 35px;

    .seccion-sucursal-titulo{
        margin-top: 25px;
        width: 70%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: start;
        color: white;
    }

    .contenedor-sucursal{
        width: 90%;
        height: auto;
        display: grid;
        padding: 20px;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr 6fr;
        grid-template-areas: 
        "suc suctit"
        "suc sucdir"
        "suc sucmap";
        column-gap: 30px;

        img{
            width: 100%;
            height: 100%;
            max-width: 950px;
            max-height: 400px;
            display: block;
            object-fit: fill;
        }

        .sucursal-uno{
            grid-area: suc;
        }
        .sucursal-uno-titulo{
            grid-area: suctit;
            background-color: gold;     
            display: flex;
            justify-content: center;
            align-items: center;    
        }
        .sucursal-uno-direccion{
            grid-area: sucdir;
            background-color: white; 
            display: flex;
            justify-content: center;
            align-items: center;         
        }
        .sucursal-uno-mapa{
            grid-area: sucmap;
            width: 100%;
            height: 100%;
        }

    }
}

// PAGINA HAMBURGUESA VEGANA
.conte {
    width: 100%;
    height: 100%;
    display: map-get($ancho, dis);
    justify-content: map-get($ancho, jus);
    align-items: map-get($ancho, ali);
    background: #121212;
    background: linear-gradient(
      135deg,
      #121212 25%,
      #bdb107 25%,
      #bdb107 50%,
      #121212 50%,
      #121212 75%,
      #bdb107 75%,
      #bdb107
    );
    border-radius: 25px;
    background-size: 40px 40px;
    animation: move 4s linear infinite;
  }
  
  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 40px 40px;
    }
  }

  
.seccion-hamburguesa{
    width: 100%;
    height: 100%;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    

    .contenedor-hamburguesa{
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px;

        .titulo-hamburguesa{
            background-color: #050609;
            border-radius: 25px;
            padding: 25px;

            &:hover{
                background-color: gold;
                color: #050609;
            }

            .titulo-vegano{
                font-size: 3rem;
                color: gold;

                &:hover{
                    color: #050609;
                }
            } 
        }  

        .detalle-vegano{
            background-color: #050609;
            border-radius: 25px;
            padding: 25px;
            font-size: 3rem;
            color: gold;
            text-align: center;

            &:hover{
                color: #050609;
                background-color: gold;
            }
        }
    }    

    .hamburguesa-video{
        width: 90%;
        height: 800px;
        max-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px;

        .video-hv{
            width: 100%;
            height: 90%;
            border-radius: 25px;
        }
    }
}

// PAGINA CONTACTO
.seccion-contacto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 55px;

    .contacto-contenedor{
        width: 90%;
        height: 550px;
        margin-top: 25px;
        row-gap: 22px;
        column-gap: 22px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nom ape"
        "correo tel"
        "asu asu"
        "tex tex"
        "bot bot";

        .campo-nombre{
            grid-area: nom;
        }
        .campo-apellido{
            grid-area: ape;
        }
        .campo-correo{
            grid-area: correo;
        }
        .campo-telefono{
            grid-area: tel;
        }
        .campo-asunto{
            grid-area: asu;
        }
        .campo-texto{
            grid-area: tex;
        }
        .campo-boton{
            grid-area: bot;
        }

        .centrar{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
        }

        div>label{
            width: 100%;
        }
        div>input{
            width: 100%;
        }
        div>textarea{
            width: 100%;
        }
    }
}

@media (width<=1050px){
    .encabezado-contenedor{
        .menu{
            .menu-lista{
                margin-top:5px;
                gap:20px;
                justify-content: center;
                align-items: center;
                padding:0;

                a{
                    font-size: 1rem;
                }
            }
        }
    }

    .index-seccion-uno{    
        .index-seccion-uno-contenedor{
            flex-direction: column;
            
            &>div{
                justify-content: space-around;
                align-items: center;
                width: 90%;
                border-radius: 30px;
            }
        }
    }
}

@media (width<=900px){
    .index-encabezado{

        .encabezado-contenedor{
            .menu{
                .menu-lista{
                    padding: 0;
                    flex-wrap: wrap;
                    gap: 20px;
                }
            }
        }
    }

    .seccion-carrousel{
    
        .carousel-item{
            img{
                object-fit: cover;
                object-position: 50% 50%;
                opacity: 0.9;
            }
        } 
    }
    
}

@media (max-width: 900px){
    .menu{
        display:none !important;
    }
    
    .index-encabezado{
        .marca{
            h1>a{
                font-size: 1rem;
            }
        }
        .boton-oculto{
            display: block !important;
            margin-top: 20px;
            width: 100px;
            height: 45px;
            background-color: red;
        }

        .encabezado-contenedor{
            .offcanvas-body>a{
                color:black;
            }
        }
    }

    .seccion-contacto{
        .contacto-contenedor{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
            grid-template-areas:
            "nom"
            "ape"
            "correo"
            "tel"
            "asu"
            "tex"
            "bot";
            height: 650px;
        }
    }

    .seccion-sucursal{
        .contenedor-sucursal{
            grid-template-columns: 1fr;
            grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
            grid-template-areas: 
            "suctit"
            "sucdir"
            "suc"
            "sucmap";
            row-gap: 10px;
        }
    }
}

@media (width<=800px){

    .contenedor-menu-primario{
        .hamburguesa{
            padding: 25px;
            flex-direction: column;
            justify-content: first baseline;
            align-items: center;
        }
    }

    .index-seccion-dos{
        .index-seccion-dos-contenedor{
            height: 50vh;
        }

        img{
            display: none !important;
        }
    }
    

    .pie{
        height: auto;
        .pie-contenedor{
            width: 90%;
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 30px 1fr 30px 1fr 30px 1fr;
            grid-template-areas: 
            "tiac"
            "ac"
            "tisuc"
            "suc"
            "tiredes"
            "redes";

            .grid-titulo-acceso{
                justify-content: center;
                align-items: center;
            }
            .accesos{
                justify-content: center;
                margin-bottom: 25px;
            }
            .grid-titulo-sucursales{
                justify-content: center;
            }
            .sucursales{
                justify-content: space-around;
                margin-bottom: 25px;

                nav{
                    width: 100%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }            
            .grid-titulo-redes{
                justify-content: center;
            }
            .redes{
                justify-content: center;

                nav{
                    width: 100%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }

    .hamburguesa-detalle>img{
        width:100%;
    }
    .detalle-vegano{
        display: none !important;
    }
}


@media (width<=800px){    
    .index-seccion-uno{
        .index-seccion-uno-contenedor{
            .uno{
                flex-direction: column; 
                justify-content: space-around;
                height: 250px;
                padding: 0 20px;      
            }
            .dos{
                flex-direction: column;
                height: 250px;
                padding: 25px 25px;
            }
            .tres{
                flex-direction: column;
                height: 250px;
                padding: 0 50px;
            }
        }
    }

    .index-seccion-dos {
        height: 25vh;
    }
}