@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

@import "../css/partial/variables";
@import "../css/partial/generales";
//@import "../css/partial/header";
@import "../css/partial/carrousel";

$color-primario: #050609;
$color-secundario: red;
$color-terciario: gold;

body {
    background-color: $color-primario;
    font-family: 'Lemon', serif;
  }

  .index-encabezado{
    width: 100%;
    height: 100px;
    color: white; 
    display: flex;
    justify-content: center;
    align-items: center;

    .encabezado-contenedor{
        width: 100%;
        height: auto;
        padding: 20px 5% 20px 5%;
        background-color: #050609;
        display: flex;
        justify-content: space-between;
        align-items: self-start;

        .boton-oculto{
            display: none;
        }

        .marca{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width: 80px;
                height: 80px;
                // object-view-box: inset(10% 20% 10% 20%);
            }
        }

        h1{
            padding-top:15px;
        }

        h1>a{
            font-size: 2.5rem;P
            
            .subtitulo{
                font-size: 1.50rem;
                color: red;
            }
        }
        
        a{  
            color: white;
            font-size: 1.25rem;
            &:hover{
                color: gold;
                text-decoration: underline;
            }
        }

        .menu{
            display: flex;
            padding-top: 10px;
            justify-content: center;
            align-items: center;

            .menu-lista{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
                gap: 60px;
                
                a{
                    font-style: italic;
                }
            }
        }

        .menu-hamburger{
            display: flex;
            padding-top: 10px;
            justify-content: left;
            align-items: left;

            .menu-lista-hamburger{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: left;
                padding: 20px;
                gap: 10px;
                color: black;
                
                a{
                    font-style: italic;
                    color:black;
                }
            }
        }
        li{
            list-style-type: none;            
        }
    }   
}

.seccion-carrousel{
    width: 100vw;
    height: 55vh;

    .carousel-item{
        img{
            margin:0;
            width: 100vw;
            height: 50vh;
            object-fit: none;
            object-position: 50% 50%;
            opacity: 0.9;
        }
    } 
}

.index-seccion-uno{
    width: 100%;
    height: auto;
    padding: 25px;
    background-color: $color-primario;
    display: flex;
    justify-content: center;
    align-items: center;

    .index-seccion-uno-contenedor{
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 30px;
        color: white;

        &>div{
            width: 30%;
            height: 200px;            
            background-color: #1d1b1bde;
            border-radius: 5%;
            padding: 15px 15px;
            display: flex;
            gap: 25px;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        .uno{
            img{
                width: 100px;
                height: 100px;  
                object-fit: contain;
                background-color: peru;
                border-radius: 25px;
                object-position: block;
                object-fit: cover;
            }
        }

        .dos{
            img{
            width: 100px;
            height: 100px;
            object-fit: contain;
            background-color: rgb(187, 223, 220);
            border-radius: 25px;
            object-position: block;
            object-fit: cover;
        }}

        .tres{
            img{
                width: 100px;
            height: 100px;               
                object-fit: contain;
                background-color: white;
                border-radius: 25px;
                object-position: block;
                object-fit: cover;
            }
        }
    }
}

.index-seccion-dos{
    background-color: $color-primario;
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 15vw;    

    .index-seccion-dos-contenedor{
        display:flex;
        width: 1300px;
        justify-content: center;
        align-items: center;
        color: white;
        
        img{
            width: 90%;
            height: auto;
        }        
    }
}

.pie{
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 25px;
  background-color: #1d1b1b5d;

  li{
    list-style-type: none;
  }

  .pie-contenedor{
    width: 740px;
    height: 175px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas: 
      "tiac tisuc tiredes"
      "ac suc redes";
      gap: 0 60px ;
      padding:0;

      font-weight: 100;
      font-size: 1rem;

      nav{
        ul{
            padding: 0px;

            a{
                color:#9b9b90;

                &:hover{
                    color: white;
                }
            }
        }
      }

      .grid-titulo-acceso{
        grid-area: tiac;
        display: flex;
        justify-content: start;
        color:red; 
        border-bottom: 1px solid $color-terciario;
        }
        .accesos{
            grid-area: ac;
            display: flex;
            align-items: start; 
            justify-content: start;
            padding-top: 15px;
        }
        
        .grid-titulo-sucursales{
            grid-area: tisuc;
            display: flex;
            justify-content: start;
            color:$color-secundario;    
            border-bottom: 1px solid $color-terciario;
        }
        .sucursales{
            grid-area: suc;
            display: flex;
            flex-direction: column;
            align-items: start; 
            justify-content: start;
            padding-top: 15px;
        }
        
        .grid-titulo-redes{
            grid-area: tiredes;
            display: flex;
            justify-content: left;
            align-items:start;
            color: $color-secundario; 
            border-bottom: 1px solid $color-terciario;
        }
        .redes{
            grid-area: redes;
            display: flex;
            flex-direction: column;
            align-items: start; 
            justify-content: start;
            padding-top: 15px;
        }
    }
}

// PAGINA PRODUCTOS
.contenedor-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 35px;

    .menu-titulo{
        font-size: 3rem;
        padding: 35px 0;
     }

    .titulo-hamburguesa{
        color: $color-terciario;
    }

    .titulo-papas{
        color: $color-secundario;
    }
    
    .contenedor-menu-primario{
        width: 1300px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;        

        .hamburguesa{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #9b9b9011;
            padding: 40px;
            gap: 40px;
            
            img{
                width: 200px;
                height: 200px;
                background-color: rgba(199, 243, 5, 0.055);
                border-radius: 35%;
            }
            
        }
    }  
}

// PAGINA SUCURSAL
.seccion-sucursal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    .seccion-sucursal-titulo{
        margin-top: 25px;
        width: 70%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        align-items: start;
        color: white;
    }

    .contenedor-sucursal{
        width: 80%;
        height: auto;
        display: grid;
        padding: 20px;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 1fr 1fr 6fr;
        grid-template-areas: 
        "suc suctit"
        "suc sucdir"
        "suc sucmap";
        column-gap: 30px;

        img{
            width: 100%;
            height: 100%;
            max-width: 950px;
            max-height: 400px;
            display: block;
            object-fit: fill;
        }

        .sucursal-uno{
            grid-area: suc;
        }
        .sucursal-uno-titulo{
            grid-area: suctit;
            background-color: red;     
            display: flex;
            justify-content: center;
            align-items: center;    
        }
        .sucursal-uno-direccion{
            grid-area: sucdir;
            background-color: red; 
            display: flex;
            justify-content: center;
            align-items: center;         
        }
        .sucursal-uno-mapa{
            grid-area: sucmap;
            width: 100%;
            height: 100%;
        }

    }
}

// PAGINA CONTACTO
.seccion-contacto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 55px;

    .contacto-contenedor{
        width: 70%;
        height: 550px;
        margin-top: 25px;
        row-gap: 20px;
        column-gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        "nom ape"
        "correo tel"
        "asu asu"
        "tex tex"
        "bot bot";

        .campo-nombre{
            grid-area: nom;
        }
        .campo-apellido{
            grid-area: ape;
        }
        .campo-correo{
            grid-area: correo;
        }
        .campo-telefono{
            grid-area: tel;
        }
        .campo-asunto{
            grid-area: asu;
        }
        .campo-texto{
            grid-area: tex;
        }
        .campo-boton{
            grid-area: bot;
        }

        .centrar{
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: center;
        }

        div>label{
            width: 100%;
        }
        div>input{
            width: 100%;
        }
        div>textarea{
            width: 100%;
        }
    }
}

@media (width<=1400px){
    .encabezado-contenedor{
        .menu{
            .menu-lista{
                margin-top:5px;
                gap:10px;
                justify-content: center;
                align-items: center;
                padding:0;

                a{
                    font-size: 1rem;
                }
            }
        }
    }


    .index-seccion-uno{    
        .index-seccion-uno-contenedor{
            flex-direction: column;
            
            &>div{
                justify-content: space-around;
                align-items: center;
                width: 90%;
                border-radius: 30px;
            }
        }
    }
}

@media (width<=1100px){
    .index-encabezado{
        .encabezado-contenedor{
            .menu{
                .menu-lista{
                    gap: 10px;
                }
            }
        }
    }


}

@media (width<=900px){
    .index-encabezado{

        .encabezado-contenedor{
            .menu{
                .menu-lista{
                    padding: 0;
                    flex-wrap: wrap;
                    gap: 5px;
                }
            }
        }
    }
}

@media (max-width: 900px){
    .menu{
        display:none !important;
    }
    
    .index-encabezado{
        .marca{
            h1>a{
                font-size: 1rem;
            }
        }
        .boton-oculto{
            display: block !important;
            margin-top: 20px;
            width: 100px;
            height: 45px;
            background-color: red;
        }

        .encabezado-contenedor{
            .offcanvas-body>a{
                color:black;
            }
        }
    }

    .seccion-contacto{
        .contacto-contenedor{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
            grid-template-areas:
            "nom"
            "ape"
            "correo"
            "tel"
            "asu"
            "tex"
            "bot";
            height: 650px;

        }
    }

    .seccion-sucursal{
        .contenedor-sucursal{
            grid-template-columns: 1fr;
            grid-template-rows: 0.25fr 0.25fr 1fr 1fr;
            grid-template-areas: 
            "suctit"
            "sucdir"
            "suc"
            "sucmap";
            row-gap: 10px;
        }
    }
}

@media (width<=800px){
    .index-seccion-dos{
        img{
            display: none !important;
        }
    }

    .pie{
        height: auto;
        .pie-contenedor{
            width: 90%;
            height: auto;
            grid-template-columns: 1fr;
            grid-template-rows: 30px 1fr 30px 1fr 30px 1fr;
            grid-template-areas: 
            "tiac"
            "ac"
            "tisuc"
            "suc"
            "tiredes"
            "redes";

            .grid-titulo-acceso{
                justify-content: center;
                align-items: center;
            }
            .accesos{
                justify-content: center;
                margin-bottom: 25px;
            }
            .grid-titulo-sucursales{
                justify-content: center;
            }
            .sucursales{
                justify-content: space-around;
                margin-bottom: 25px;

                nav{
                    width: 100%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }            
            .grid-titulo-redes{
                justify-content: center;
            }
            .redes{
                justify-content: center;

                nav{
                    width: 100%;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                }
            }
        }
    }
}

@media (width<=800px){    
    .index-seccion-uno{
        .index-seccion-uno-contenedor{
            .uno{
                flex-direction: column; 
                justify-content: space-around;
                height: 250px;
                padding: 0 20px;      
            }
            .dos{
                flex-direction: column;
                height: 250px;
                padding: 25px 25px;
            }
            .tres{
                flex-direction: column;
                height: 250px;
                padding: 0 50px;
            }
        }
    }
}