.pie{
    width: 100vw;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin-top: 25px;
    background-color: #1d1b1b5d;
  
    li{
      list-style-type: none;
    }
  
    .pie-contenedor{
      width: 80%;
      height: 175px;
      display: grid;
      grid-template-columns: 2fr 3.5fr 2fr;
      grid-template-rows: 30px 1fr;
      grid-template-areas: 
        "tiac tisuc tiredes"
        "ac suc redes";
        gap: 0 60px ;
        padding:0;
        font-weight: 100;
        font-size: 1rem;
  
        nav{
          ul{
              padding: 0px;
  
              a{
                  color:#9b9b90;
  
                  &:hover{
                      color: white;
                  }
              }
          }
        }
  
        .grid-titulo-acceso{
          grid-area: tiac;
          display: flex;
          justify-content: start;
          color:red; 
          border-bottom: 1px solid $color-terciario;
          }
          .accesos{
              grid-area: ac;
              display: flex;
              align-items: start; 
              justify-content: start;
              padding-top: 15px;
          }
          
          .grid-titulo-sucursales{
              grid-area: tisuc;
              display: flex;
              justify-content: start;
              color:$color-secundario;    
              border-bottom: 1px solid $color-terciario;
          }
          .sucursales{
              grid-area: suc;
              display: flex;
              flex-direction: column;
              align-items: start; 
              justify-content: start;
              padding-top: 15px;
          }
          
          .grid-titulo-redes{
              grid-area: tiredes;
              display: flex;
              justify-content: left;
              align-items:start;
              color: $color-secundario; 
              border-bottom: 1px solid $color-terciario;
          }
          .redes{
              grid-area: redes;
              display: flex;
              flex-direction: column;
              align-items: start; 
              justify-content: start;
              padding-top: 15px;
          }
      }
  }